body {
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
  color: #333;
  margin: 0;
}

.header {
  margin-right: 50px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo-and-dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.create-protocol {
  font-size: 1.325rem;
  font-weight: 700;
  color: black;
  margin-left: 20px;
}

.dropdown-container {
  text-align: justify;
  width: 146px;
}

/* Hypothetical selectors; use actual selectors from your inspection */
.react-dropdown-select__dropdown-indicator {
  margin-left: 10px !important;
}

.react-dropdown-select__placeholder {
  margin-right: 10px !important;
}

/* CSS to hide the 'Disabled' text if it appears */
.react-dropdown-select-option[data-is-coming-soon="true"]::after {
  content: 'Coming Soon';
  color: #999;
  font-size: 0.8rem;
}

.react-dropdown-select-option[data-is-coming-soon="true"]:hover::after {
  content: 'Feature coming soon!';
  color: red;
}

.disabled-option {
  color: grey;
}

.disabled-option:hover {
  cursor: not-allowed;
}



.playground-dropdown {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid gray;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.playground-dropdown:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.main-container {
  margin-top: 0px;
  padding: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding-top: 0;
}

.left-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0px 4px rgba(10, 10, 0, 0.2);
}

.right-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo-container {
  padding: 20px;
  display: flex;
  gap: 10px;
}


h1,
h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 2px solid #5C6BC0;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 0.75rem;
  margin-bottom: 1rem;
  background-color: #5C6BC0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover,
button:disabled {
  background-color: #3F51B5;
}

button:disabled {
  cursor: default;
  opacity: 0.7;
  cursor: not-allowed;
}

button {
  width: 180px;
  background-color: #5C6BC0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 600;
}

input[type='range']::-webkit-slider-thumb {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: red;
  border-radius: 4px;
}


button:hover {
  background-color: black;
  color: white;
  font-weight: 600;
}

.response-container {
  height: 50vh;
  background-color: white;
  border: 2px solid #5C6BC0;
  border-radius: 4px;
  padding: 10px;
  overflow-y: auto;
  /* Add this line to make the content scrollable */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.model-display {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 20px;
  font-size: 12px;
}

.outputlen {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  width: 80px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  font-size: 12px;
}

.bi-chat {
  fill: #5C6BC0;
}

.left-container h1 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
  /* Example size, adjust as needed */
  color: #333;
  /* Adjust the color as needed */
  margin-bottom: 20px;
  /* Space below the header */
  text-align: center;
  /* Center the text */
}


.token-usage {
  font-size: 14px;
  color: #4A90E2;
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  .model-select-container {
    width: 100%; /* Ensure model selection dropdown takes full width on mobile */
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .left-container,
  .right-container {
    width: 100%;
  }

  .left-container {
    margin-top: -40px;

  }
  .left-container {
    order: 2; /* Ensure the form and text area come after the model selection on mobile */
  }

  .right-container {
    order: 1; /* Model selection comes first on mobile */
    margin-bottom: 50px;
    margin-top: -74px;
  }

  .logo-container {
    margin-left: -10px;
    position: relative;
  }

  .header {
    margin-left: -14px;
    margin-bottom: 100px;
  }

  .logo-and-dropdown-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown-container {
    width: 100%; /* Full width for mobile */
    margin-top: 10px;
        margin-left: 10px;
    margin-right: auto;
    margin-top: 1rem;
  }

  .model-display {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    font-size: 8px;
  }

  textarea {
    height: 16vh;
    width: 310px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 2px solid #5C6BC0;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    width: 320px;
  }

  .response-container {
    height: 20vh;
    width: 310px;
  }
}

@media (max-width: 375px) {
  .left-container {
    margin-top: -50px;
  }
}

.create-protocol {
  width: 300px;
  /* background-color: red; */
  font-size: 1.325rem;
  font-weight: bolder;
  color: black;
  margin-left: 20px;
}